* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.product-title {
    font-family: 'Montserrat', sans-serif;
    width: 846px;
    font-size: 70px;
    font-weight: 400;
    color: #515076;
    text-align: center;
    font-style: regular;
}

.product-list { 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
}

.product-header {  
    gap: 5px;
    width: 340px;
    padding: 25px;
    background-color: #F7F7FA;
}

.product-compound {
    list-style-position: inside;
    margin-bottom: 25px;
}

.card{ 
    background-image: url('/images/card_fone.jpg');  
}
   


