* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.product-list { 
    width: 340px;
    height: 573px;
    padding: 25px;
    list-style-type: none;
    background-color: #F7F7FA;
}

.product-header {  
    margin-top: 30px;
    margin-bottom: 15px;
    
    gap: 5px;
}

.product-compound {
    margin-left: 0px;
    padding-left: 0px;
    list-style-position: inside;
    margin-bottom: 25px;
}

.card{ 
     background-image: url('/images/card fone.jpg');  
}
   


