card.css

.card {
   background-color: #F7F7FA;
   padding: 25px;
   width: 100%;

}

.card__image {
    display: block;
}

.card__category {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    text-transform: uppercase; 
}
.card__description {
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}